[run]
source =
    game

omit =
    env/*
    */test*
    */environment.py
    run.py
    */run.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite